#space {
    width: 900px;
    height: 700px;
    border: 1px solid black;
    /* margin: auto auto; */
}
.circle {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}
.square {
    background-color: blue;
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    position: absolute;
}